body{
    background-color: rgb(14, 177, 155);
}

#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


.country {
    border: 1px solid gold;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    color: rgb(2, 23, 47);
}
.capital{
    color: rgb(27, 5, 129);
}
#countryDetails img{
width: 400px;
}
.button{
    background-color: rgb(100, 107, 0);
}